<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/adminTools.css') }}">
</head>

<body>
    <div class="appBar">
        <h3 class="title">
            Admin tools
        </h3>
    </div>

    <div class="course-list">
        {% for course in coursesList %}
        <button class="courseBtn" onclick="showLectures()">{{course.title}}</button>
        {% endfor %}
    </div>
    
    <div class="btnRow">
        <button class="addLectureBtn" onclick="addCourse()">
            <div class="addLectureTxt"> 
                Добавить курс
            </div>
        </button>
        <button class="addLectureBtn" onclick="addLecture()">
            <div class="addLectureTxt">
                Добавить лекцию
            </div>
        </button>
    </div>

</body>